@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-prev,
.slick-next {
  z-index: 1;
  width: 40px;
  height: 40px;
}

.slick-prev {
  left: 20px;
}

.slick-next {
  right: 20px;
}

.slick-dots {
  bottom: -10px;
  position: relative;
}

.slick-dots li button:before {
  color: #fff;
}

.slick-dots li.slick-active button:before {
  color: lightsalmon;
}
